services:
  dev:
    build:
      context: ./docker
      dockerfile: base/Dockerfile
    container_name: skibidi
    volumes:
      - .:/home/dev/app   # Mount project folder inside container
    tty: true             # Keep container running
    stdin_open: true      # Allow interactive shell

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: "cp-zookeeper"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on: ["zookeeper"]
    container_name: "cp-kafka"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'cp-zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://cp-kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"